.main_teach {
    .icon_divive {
        &.fa.fa-google {
            font-size: 19px !important;
        }
    }

    .resume_row__contenido {
        &.custom {
            h1,h2,h3,h4,h5,h6{
                @extend %prof-font;
                &:before {
                    content: "";
                    background-color: #fdf47e;
                    height: 1em;
                    width: 1em;
                    display: inline-flex;
                    border-radius: 50%;
                    margin-bottom: 1em;
                }
            }
            a {
                @extend %prof-font;
                text-decoration: none;
                padding: 9px;
                width: 141px;
                text-align: center;
                margin-top: 21px;
                border: 1px solid #b8860b;
                color: #ffffff;
                transition: all .2s linear;
                font-weight: lighter;
                border-radius: 36px;
                background-color: darkgoldenrod;
                @include shadow_element(rgba(184, 135, 11, 0.335));
                &:hover {
                    opacity: .6;
                }
            }
            p{
                line-height: 1;
                text-align: justify;
                font-size: 16px;
                display: inline-flex;
                position: relative;
                @extend %prof-font;
                padding-left: 1em;
                &:before {
                    content: "";
                    border-left: 9px solid #fdf47e;
                    width: 39px;
                    height: 100%;
                    position: absolute;
                    margin-left: -1em;
                }
            }
            ul {
                li {
                    @extend %prof-font;
                    font-size: 16px;
                }
            }
            ol {
                li {
                    @extend %prof-font;
                    font-size: 16px;
                }
            }
        }
        
    }
}