.divide_icon {
    .text_divide {
        width: 86%;
        float: right;
    }

    .icon_divive {
        width: 14%;
        float: left;
        font-size: 22px;
    }
}

.title_icon {
    float: left;
    width: 100%;

    .ico_middle {
        width: 5%;
        float: left;
        font-size: 35px;
    }

    .text_middle {
        width: 95%;
        float: left;
        font-size: 28px;
        font-weight: 400;
    }
}
.divide_resume {
    width: 100%;
    clear: both;
    i {
        width: 8%;
        float: left;
        display: contents;
    } 
    p {
        padding-left: 15px;
        width: 90%;
        float: right;
    }
}

.main_teach {
    &.prof_style__classic {
        @extend %prof-font;
        .cont__header {
            .prf_header--contenedor {
                padding: 10px 20px;

                .prf_header {
                    min-height: 60vh;
                    max-height: 90vh;
                    height: auto;
                    overflow: auto;

                    padding: 14px 20px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    @include shadow_element(rgba(0, 0, 0, 0.2));

                    &__image {
                        margin-bottom: 18px;

                        figure {
                            img {
                                border-radius: 50%;
                                z-index: 1;
                            }
                        }

                        .clipart {
                            background-image: url(../assets/img/tCircles.png);
                            background-size: cover;
                            position: absolute;
                            height: 300px;
                            width: 300px;
                            top: -119px;
                            z-index: 1;
                            right: 134px;
                        }
                    }

                    &__info {
                        .prinfo_row {
                            &__name {
                         
                                p {
                                    
                                    font-size: 26px;
                                    line-height: 32px;
                                }
                            }

                            &__title {
                                @extend .divide_icon;

                                .icon_divive {
                                    color: #79571c;
                                }

                                .text_divide {
                                    color: #79571c;
                                }
                            }
                        }

                        .prcontact_row {
                            clear: both;
                            margin-bottom: 35px;
                            @extend .divide_icon;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        height: 9px;
                        background-color: rgba(109, 102, 102, 0.23);
                        display: block;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgba(113, 110, 110, 0.8);
                        border-radius: 12px;
                    }

                    &::-webkit-scrollbar-thumb:active {
                        background: #626262;
                    }

                    &::-webkit-scrollbar-track {
                        background: #b3b3b3;
                        border-radius: 4px;
                    }
                }
            }
        }

        .con__information {
            @include shadow_element(rgba(0, 0, 0, 0.2));
            padding: 0;

            .cont__menu {
                @include shadow_element(rgba(0, 0, 0, 0.137));
                border-bottom: 1px solid rgba(128, 128, 128, 0.451);
                z-index: 3;
                background-color: white;
                padding: 0px;

                .content-menu-filter {
                    .content-filter-row {
                        display: flex;
                        justify-content: space-between;

                        .row_tab {
                            font-size: 16px;
                            min-width: auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 64px;
                            width: 100%;
                            align-items: center;
                            position: relative;
                            transition: all .3s linear;
                            cursor: pointer;

                            &__text {
                                text-align: center;
                            }

                            &__icon {
                                font-size: 22px;
                            }

                            &::before {
                                content: "";
                                transition: all .2s linear;
                                position: absolute;
                                bottom: 0;
                                height: 3px;
                                width: 0%;
                                background: linear-gradient(40deg, #ffab83, #fcfc7d);
                            }

                            &.active,
                            &:hover {
                                transition: all .5s linear;
                                background-color: rgba(255, 253, 206, 0.459);

                                .row_tab {
                                    &__text {
                                        color: #79571c;
                                    }

                                    &__icon {
                                        color: #79571c;
                                    }

                                }

                                &::before {
                                    content: "";
                                    width: 77%;
                                }
                            }
                        }
                    }
                }
            }

            .profile__resume {
                padding: 20px 40px;
                background-color: #fbfbfb;

                .resume__container {
                    padding: 31px 0px;
                    border-bottom: 1px solid #c3c1c1;

                    // -------------------------------------------------------
                    //                 PANELS Y RESUMEN DEL PROFESOR
                    // -------------------------------------------------------
                    .resume_row {
                        &__title {
                            .title_resume_row {
                                @extend .title_icon;
                                margin-bottom: 15px;
                            }
                        }

                        &__contenido {
                            .timeline {
                                clear: both;
                                .item_timeline {
                                    list-style: none;
                                    position: relative;
                                }

                                &__content {
                                    float: left;
                                    height: 100%;
                                    background-color: #f3f1f1;
                                    list-style: none;
                                    border-radius: 8px;
                                    padding: 20px;
                                    margin-right: 15px;
                                    border: 1px solid #eae4e4;
                                    width: 45%;
                                    position: relative;
                                    opacity: 1;
                                    overflow: hidden;
                                    transition: all .3s linear;
                                    transform: translateY(0px);
                                    &::before {
                                        content: "";
                                        width: 300px;
                                        position: absolute;
                                        top: -82px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        height: 189px;
                                        right: -36%;
                                        background-image: url(../assets/img/tCircles.png);
                                    }
                                    &.oculta_anio {
                                       display: none;
                                    }
                                }

                                &__year {
                                    width: 9%;
                                    margin-bottom: 20px;
                                    display: flex;
                                    justify-content: center;
                                    padding: 5px;
                                    background-color: #fcea7e;
                                    font-weight: bold;
                                    clear: both;
                                    position: relative;
                                    cursor: pointer;
                                    transition: all .3s ease-in-out;
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        right: -355px;
                                        width: 355px;
                                        height: 20px;
                                        top: -3px;
                                        border-bottom: 1px solid #b1aeae;
                                    }
                                    &:hover {
                                        @include shadow_element(rgba(31, 31, 32, 0.246));
                                    }
                                }
                                &.proyectos {
                                    .timeline {
                                        .item_timeline {
                                            display: flex;
                                            flex-direction: column;
                                       
                                        }
                                        &__content {
                                            margin-bottom: 2em;
                                        }
                                        &__titulo {
                                            color: $golden;
                                            font-weight: 400;
                                            @extend %prof-font;
                                        }
                                        &__ciclo,
                                        &__tipo {
                                            clear: both;
                                            i {
                                                width: 6%;
                                                font-size: 22px;
                                                float: left;                                            }
                                             p {
                                                 font-weight: 700;
                                                 padding-left: 8px;
                                                 width: 94%;
                                                 float: left; 
                                             }
                                        }
                                    }
                                }
                            }
                        }

                        &__profile {}

                        &__action {
                            .action_mas {
                                display: flex;
                                justify-content: center;
                                width: 100%;

                                &__btn {
                                    padding: 9px;
                                    width: 141px;
                                    text-align: center;
                                    margin-top: 21px;
                                    border: 1px solid #b8860b;
                                    color: #ffffff;
                                    transition: all .2s linear;
                                    font-weight: lighter;
                                    border-radius: 36px;
                                    background-color: darkgoldenrod;
                                    @include shadow_element(rgba(184, 135, 11, 0.335));

                                    &:hover {
                                        opacity: .8;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }

                    // -------------------------------------------------------
                    //              RESUMEN DEL PROFESOR
                    // -------------------------------------------------------
                    .card_prf {
                        &__contenedor {
                            background-color: #f3f1f1;
                            border-radius: 8px;
                            border: 1px solid #eae4e4;
                            .prfc_row {
                                &__name  {
                                    color: #9b7346;
                                    margin-bottom: 8px;
                                }
                                &__edit {
                                    margin-top: 14px;
                                    font-style: italic;
                                    font-size: 13px;
                                }
                            }
                            &.titulo_obtenido {
                                width: 43%;
                                padding: 0;
                                min-height: 124px;
                                .card_prf__content {
                                    position: relative;
                                    padding: 20px 24px;
                                    width: 100%;
                                    display: flex;
                                    .card-prf__info {
                                        width: 100%;
                                    }
                                }
                                .prfc_row {
                                    &__titulo {
                                        font-size: 18px;
                                        @extend .divide_resume;
                                        i {
                                            font-size: 22px;
                                            color: $golden;
                                        }
                                        p {
                                            font-size: 18px;
                                            color: $golden;
                                        }
                                    }
                                    &__tipo,
                                    &__uni
                                     {
                                        @extend .divide_resume;
                                        font-size: 14px;
                                        i {
                                            font-size: 22px;
                                        }
                                        p {
                                            font-size: 15px;
                                         }
                                    }
                                    &__anio {
                                        position: absolute;
                                        right: -3px;
                                        top: -16px;
                                        p {
                                           font-size: 15px;
                                           padding: .3em;
                                           border-radius: 12px;
                                           background-color: #fffee9;
                                           color: white;
                                           border-radius: 6px;
                                           color: #79571c;
                                           font-weight: normal;
                                           @include shadow_element( rgba(131, 130, 124, 0.561));
                                        }

                                    }
                                    &__ciudad {
                                        @extend .divide_resume;
                                        i {
                                            font-size: 22px;
                                        }
                                        p {
                                            font-size: 15px;
                                         }
                                    }
                                }
                            }
                        }
                        &__icon {
                            &::before {
                                position: absolute;
                                content: "";
                                background-position-y: 14px;
                                width: 100px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 200px;
                                background-image: url(../assets/img/tCircles.png);
                            }
                        }
                        &_action {
                            &__badge {
                                border: 1px solid rgba(0, 128, 128, 0.3607843137254902);
                                color: teal;
                            }
                        }
                    }
                    &:first-child {
                        margin-top: 2em;
                    }
                }
            }
        }
        &.pr_item__top {
            .cont__header {
                background-image: url('../assets/img/pattern.png');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 90vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .prf_header--contenedor {
                    position: fixed;
                    .prf_header {
                        padding: 0;
                        max-height: 85vh;
                        &__image {
                            height: 6em;
                     
                            margin-bottom: 0px;
                            background: linear-gradient(40deg,#e4672aed,#ffd371);                           
                             .clipart {
                            background-image: none;
                            }
                            figure {
                                justify-content: flex-start;
                                 img {
                                    @include shadow_element(rgba(44, 44, 44, 0.39));
                                    margin-top: 7em;
                                    z-index: 3;
                                    margin-left: 2em;
                                 }
                            }
                        }
                        &__info {
                            padding-left: 2em;
                            width: 80%;
                            margin: 0%;
                            margin-left: 15%;
                            z-index: 2;
                            .prcontact_row {
                                display: flex;
                                margin-bottom: 9px;
                                .icon_divive {
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                            .prinfo_row {
                                &__title {
                                    display: flex;
                                    border-bottom: 1px solid $golden;
                                   // @include shadow_element(rgba(128, 128, 128, 0.089));
                                   box-shadow: 0 10px 10px -9px #828282;
                                   margin-bottom: 22px;
                                    .icon_divive {
                                        display: flex;
                                        justify-content: center;
                                    }
                                    .text_divide {
                                        font-size: 16px;
                                        font-weight: 500;
                                    }
                                }
                                &__name  {
                                    p {
                                        font-size: 41px;
                                        line-height: 32px;
                                        margin-top: -49px;
                                        z-index: 9999999999;
                                        font-weight: 100;
                                        margin-bottom: 1em;
                                        color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .con__information {
                //padding: 20px 90px;
                .profile__resume {
                    padding: 20px 90px;
                }
            }
        }
    }
}