.main_teach {
    &.prof_style__material {
        @extend %prof-font;
        background-color: #e3ebf3;
        .cont__header {
            .prf_header--contenedor {
                padding: 10px 20px;

                .prf_header {
                    min-height: 60vh;
                    max-height: 90vh;
                    height: auto;
                    overflow: auto;
                    overflow-x: hidden;
                    padding: 14px 20px;
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    border: 1px solid #c1b9b9;

                    &__image {
                        margin-bottom: 18px;
                        display: flex;
                        justify-self: start;
                        figure {
                            img {
                                border-radius: 10px;
                                z-index: 1;
                                @include shadow_element(rgba(128, 128, 128, 0.623));
                            }
                        }

                        .clipart {
                            background-image: url(../assets/img/bg-big.png);
                            background-size: cover;
                            position: absolute;
                            height: 300px;
                            width: 300px;
                            top: -119px;
                            z-index: 1;
                            right: -119px;
                        }
                    }

                    &__info {
                        .prinfo_row {
                            &__name {
                                p {
                                    color: $titulo-material;
                                    font-size: 26px;
                                    line-height: 32px;
                                    letter-spacing: -2px;
                                }
                            }

                            &__title {
                                @extend .divide_icon;

                                .icon_divive {
                                    color: $secundario-material;
                                }

                                .text_divide {
                                    color: $secundario-material;
                                }
                            }
                        }

                        .prcontact_row {
                            clear: both;
                            margin-bottom: 35px;
                            @extend .divide_icon;
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 4px;
                        height: 9px;
                        background-color: rgba(109, 102, 102, 0.23);
                        display: block;
                    }

                    &::-webkit-scrollbar-thumb {
                        background: rgb(113, 86, 204);
                        border-radius: 12px;
                    }

                    &::-webkit-scrollbar-thumb:active {
                        background: #626262;
                    }

                    &::-webkit-scrollbar-track {
                        background: rgb(202, 193, 224);
                        border-radius: 4px;
                    }
                }
            }
        }

        .con__information {
            @include shadow_element(rgba(0, 0, 0, 0.2));
            padding: 0;

            .cont__menu {
                @include shadow_element(rgba(0, 0, 0, 0.137));
                border-bottom: 1px solid rgba(128, 128, 128, 0.451);
                z-index: 3;
                background-color: white;
                padding: 0px;

                .content-menu-filter {
                    .content-filter-row {
                        display: flex;
                        justify-content: space-between;

                        .row_tab {
                            font-size: 16px;
                            min-width: auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            height: 64px;
                            width: 100%;
                            align-items: center;
                            position: relative;
                            transition: all .3s linear;
                            cursor: pointer;

                            &__text {
                                text-align: center;
                            }

                            &__icon {
                                font-size: 22px;
                            }

                            &::before {
                                content: "";
                                transition: all .2s linear;
                                position: absolute;
                                bottom: 0;
                                height: 3px;
                                width: 0%;
                                background: linear-gradient(40deg, #4facfe, #00f2fe);
                            }

                            &.active,
                            &:hover {
                                transition: all .5s linear;
                                background-color: $light-material;

                                .row_tab {
                                    &__text {
                                        color: $secundario-material;
                                    }

                                    &__icon {
                                        color: $secundario-material;
                                    }

                                }

                                &::before {
                                    content: "";
                                    width: 77%;
                                }
                            }
                        }
                    }
                }
            }

            .profile__resume {
                padding: 20px 40px;
                //background-color: #fbfbfb;
                background-color: #edf3f5;

                .resume__container {
                    border: 1px solid rgb(223, 223, 226);
                    @include shadow_element(rgba(110, 131, 214, 0.377));
                    padding: 1em;
                    background-color: white;
                    margin-bottom: 2em;
                    border-radius: 7px;

                    // -------------------------------------------------------
                    //                 PANELS Y RESUMEN DEL PROFESOR
                    // -------------------------------------------------------
                    .resume_row {
                        &__title {
                            .title_resume_row {
                                @extend .title_icon;
                                margin-bottom: 15px;
                                .text_middle {
                                    font-weight: lighter;
                                    letter-spacing: -1px;
                                }

                            }
                        }

                        &__contenido {
                            .timeline {
                                clear: both;

                                .item_timeline {
                                    list-style: none;
                                    position: relative;
                                }

                                &__content {
                                    float: left;
                                    height: 100%;
                                    background-color: #f3f1f1;
                                    list-style: none;
                                    border-radius: 8px;
                                    padding: 20px;
                                    margin-right: 15px;
                                    border: 1px solid #eae4e4;
                                    width: 45%;
                                    position: relative;
                                    opacity: 1;
                                    overflow: hidden;
                                    border: 1px solid rgba(110, 130, 214, 0.49);
                                    transition: all .3s linear;
                                    transform: translateY(0px);
                                    &::before {
                                        content: "";
                                        width: 300px;
                                        position: absolute;
                                        top: -82px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        height: 189px;
                                        right: -80%;
                                        background-image: url(../assets/img/bg-material.png);
                                    }

                                    &.oculta_anio {
                                        display: none;
                                    }
                                }
                                &__titulo {
                                    font-weight: 400;
                                    color: $titulo-material;
                                }
                                &__year {
                                    width: 9%;
                                    margin-bottom: 20px;
                                    display: flex;
                                    justify-content: center;
                                    padding: 5px;
                                    background-color: $btn-color;
                                    font-weight: bold;
                                    clear: both;
                                    position: relative;
                                    border-radius: 5px;
                                    color: white;
                                    cursor: pointer;
                                    transition: all .3s ease-in-out;
                                    @include shadow_element(rgba(110, 131, 214, 0.356));

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        right: -355px;
                                        width: 355px;
                                        height: 20px;
                                        top: -3px;
                                        border-bottom: 1px solid $btn-color;
                                    }

                                    &:hover {
                                        @include shadow_element(rgba(110, 131, 214, 0.767));
                                    }
                                }

                                &.proyectos {
                                    .timeline {
                                        .item_timeline {
                                            display: flex;
                                            flex-direction: column;

                                        }

                                        &__content {
                                            margin-bottom: 2em;
                                        }

                                        &__titulo {
                                            color: $golden;
                                            font-weight: 400;
                                            @extend %prof-font;
                                        }

                                        &__ciclo,
                                        &__tipo {
                                            clear: both;

                                            i {
                                                width: 6%;
                                                font-size: 22px;
                                                float: left;
                                            }

                                            p {
                                                font-weight: 700;
                                                padding-left: 8px;
                                                width: 94%;
                                                float: left;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &__action {
                            .action_mas {
                                display: flex;
                                justify-content: center;
                                width: 100%;

                                &__btn {
                                    padding: 9px;
                                    width: 141px;
                                    text-align: center;
                                    margin-top: 21px;
                                    border: 1px solid $btn-color;
                                    color: #ffffff;
                                    transition: all .2s linear;
                                    font-weight: lighter;
                                    border-radius: 7px;
                                    background-color: $btn-color;
                                    @include shadow_element(rgba(110, 131, 214, 0.452));

                                    &:hover {
                                        opacity: .8;
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }

                    // -------------------------------------------------------
                    //              RESUMEN DEL PROFESOR
                    // -------------------------------------------------------
                    .card_prf {
                        &__contenedor {
                            background-color: #f3f1f1;
                            border-radius: 8px;
                            border: 1px solid rgba(110,130,214,.49);

                            .prfc_row {
                                &__name {
                                    color: $titulo-material;
                                    margin-bottom: 8px;
                                }

                                &__edit {
                                    margin-top: 14px;
                                    font-style: italic;
                                    font-size: 13px;
                                }
                            }

                            &.titulo_obtenido {
                                width: 43%;
                                padding: 0;
                                min-height: 124px;

                                .card_prf__content {
                                    position: relative;
                                    padding: 20px 24px;
                                    width: 100%;
                                    display: flex;

                                    .card-prf__info {
                                        width: 100%;
                                    }
                                }

                                .prfc_row {
                                    &__titulo {
                                        font-size: 18px;
                                        @extend .divide_resume;

                                        i {
                                            font-size: 22px;
                                            color: $titulo-material;
                                        }

                                        p {
                                            font-size: 18px;
                                            color: $titulo-material;
                                        }
                                    }

                                    &__tipo,
                                    &__uni {
                                        @extend .divide_resume;
                                        font-size: 14px;

                                        i {
                                            font-size: 22px;
                                        }

                                        p {
                                            font-size: 15px;
                                        }
                                    }

                                    &__anio {
                                        position: absolute;
                                        right: -3px;
                                        top: -16px;

                                        p {
                                            font-size: 15px;
                                            padding: .3em;
                                            border-radius: 12px;
                                            background-color: $light-material;
                                            color: white;
                                            border: 1px solid rgba(110,130,214,.49);
                                            border-radius: 6px;
                                            color: $titulo-material;
                                            font-weight: normal;
                                            @include shadow_element(rgba(131, 130, 124, 0.561));
                                        }

                                    }

                                    &__ciudad {
                                        @extend .divide_resume;

                                        i {
                                            font-size: 22px;
                                        }

                                        p {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }

                        &__icon {
                            &::before {
                                position: absolute;
                                content: "";
                                background-position-y: 14px;
                                width: 100px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 200px;
                                opacity: .7;
                                background-image: url(../assets/img/bg-big.png);
                            }
                        }

                        &_action {
                            &__badge {
                                background-color: #fff;
                                color: teal;
                                position: relative;
                                padding: 7px 7px 7px 22px;
                                &::before {
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    display: inline-block;
                                    background-color: teal;
                                    margin-left: -15px;
                                    position: absolute;
                                    top: 11px;        
                                }
                            }
                        }
                    }

                    &:first-child {
                        margin-top: 2em;
                    }
                }
            }
        }

        &.pr_item__top {
            .cont__header {
                background-image: url('../assets/img/pattern_material.png');
                //background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 90vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .prf_header--contenedor {
                    position: fixed;

                    .prf_header {
                        padding: 0;
                        max-height: 85vh;

                        //overflow: visible;
                        &__image {
                            height: 6em;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            margin-bottom: 0px;
                            //background: rgb(230, 222, 222);
                            background-color: #eff5f7;

                            .clipart {
                                background-image: none;
                            }

                            figure {
                                justify-content: flex-start;

                                img {
                                    @include shadow_element(rgba(44, 44, 44, 0.39));
                                    margin-top: 6em;
                                    z-index: 3;
                                    margin-left: 2em;
                                }
                            }
                        }

                        &__info {
                            padding-left: 2em;
                            width: 80%;
                            margin: 0%;
                            margin-left: 15%;
                            z-index: 2;

                            .prcontact_row {
                                display: flex;
                                margin-bottom: 9px;

                                .icon_divive {
                                    display: flex;
                                    justify-content: center;
                                }
                            }

                            .prinfo_row {
                                &__title {
                                    display: flex;
                                    border-bottom: 1px solid #6165656b;
                                    margin-bottom: 22px;

                                    .icon_divive {
                                        display: flex;
                                        justify-content: center;
                                    }

                                    .text_divide {
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }

                                &__name {
                                    p {
                                        font-size: 41px;
                                        line-height: 32px;
                                        margin-top: -49px;
                                        z-index: 9999999999;
                                        font-weight: 100;
                                        margin-bottom: 1em;
                                        color: $titulo-material;
                                        letter-spacing: -3px;
                                        padding-left: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .con__information {

                //padding: 20px 90px;
                .profile__resume {
                    padding: 20px 90px;
                    .resume_row {
                        &__profile {
                            padding: 2em;
                            p {
                                text-align: justify;
                            }
                        }
                        &__contenido {
                            .timeline {
                                &__content {

                                    &::before {
                                        content: "";
                                        width: 300px;
                                        position: absolute;
                                        top: -82px;
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                        height: 189px;
                                        right: -49%;
                                        background-image: url(../assets/img/bg-material.png);
                                    }

                                }
                                &__titulo {
                                    font-weight: 400;
                                    color: $titulo-material;
                                }


                                &.proyectos {
                                    .timeline {
                                        .item_timeline {
                                            display: flex;
                                            flex-direction: column;

                                        }

                                        &__content {
                                            margin-bottom: 2em;
                                        }

                                        &__titulo {
                                            color: $titulo-material;
                                            font-weight: 400;
                                            @extend %prof-font;
                                        }

                                        &__ciclo,
                                        &__tipo {
                                            clear: both;

                                            i {
                                                width: 6%;
                                                font-size: 22px;
                                                float: left;
                                            }

                                            p {
                                                font-weight: 700;
                                                padding-left: 8px;
                                                width: 94%;
                                                float: left;
                                            }
                                        }
                                    }
                                }
                            }
                            &.custom {
                                padding: 43px;
                            }
                        }
                    }
                }
            }
        }

        @include theme_component(material);
    }
}