// --------------------------------
//   UTILIDADES
// --------------------------------
.icon_intocard {
   font-size: 20px;
   vertical-align: middle;
   width: 10%;
   float: left;
}

.text_c {
   width: 90%;
   display: inline-block;
   float: left;
}

.button_optionablesma {
   .btn_option {
      background-color: white;
      color: #00a5ff;
      @include shadow_element(rgba(78, 79, 83, 0.329));
      height: 40px;
      border-radius: 50%;
      border: 0px solid;
      width: 40px;
      outline: none;
      transition: all .2s linear;

      .ico_opt {
         font-size: 25px;
         transition: color .2s linear;
      }

      &:hover {
         background-color: #d0e9fd;
         color: white;

         .ico_opt {
            color: #00a5ff;
         }

         &.initial {
            &::before {
               border: 1px solid #00a5ff;
            }
         }
      }
   }
}


// -------------------------------------------
// -------------------------------------------
//                 START THEME
// -------------------------------------------
// -------------------------------------------
.prof_style__material {
   position: relative;
   @extend %prof-font;

   // -----------------------------------------
   // -----------------------------------------
   //                FILTERS
   // -----------------------------------------
   // -----------------------------------------
   .container_filters {
      background-color: #ffffff;
      padding: 7px;
      z-index: 9999;
      border-radius: 0px 0px 30px 30px;
      @include shadow_element(rgba(166, 173, 201, .2));

   }

   .container_filters__query {
      position: relative;

      .filter_row {
         .ico {
            transition: all .1s linear;
            right: 60px;
            width: max-content;
         }

         &__inp {
            margin-top: 2em;

            input {
               background-color: transparent;
               border-radius: 12px;
               border: 1px solid rgb(232, 232, 232);
               font-size: 15px;
               transition: box-shadow .4s ease-in-out;
               padding: 8px 10% 7px 3%;

               &:focus {
                  border: 1.2px solid #001c8e;

                  &+.ico {
                     color: #001c8e;
                     transform: translateX(1px) scale(1.5);
                  }
               }
            }

         }

         &__label {
            position: absolute;
            font-weight: lighter;
            font-size: 18px;
            bottom: 5px;
            transition: all .2s linear;
            left: 8px;
            background-color: rgb(255, 255, 255);

            label {
               color: grey;
            }

            &.focus-active {
               transform: translateY(-20px) translateX(3px) scale(.95);
               background-color: rgb(255, 255, 255);
               z-index: 99;

               label {
                  z-index: 99;
                  color: #00b3d1;
                  padding: 0px 10px;
                  margin-left: 0;
                  text-align: left;
                  background-color: rgb(255, 255, 255);
               }
            }
         }
      }
   }

   .container_filters__type {
      position: relative;

      .type_row {
         &__label {
            transform: scale(.99) translate(13px, 16px);
            z-index: 33;
            background-color: #fff;
            position: absolute;

            label {
               @extend .lblg_filter;
               color: #00b3d1;
               background-color: white;
               padding: 0px 7px;
               margin-left: 0;
            }
         }

         &__inp {
            margin-top: 2em;

            .nice-select {
               &.type_custom__select {
                  border-radius: 12px;
                  background-color: #ffffff;

                  .list {
                     @include shadow_element(rgba(166, 173, 201, .2));

                     .option {
                        transition: all .6s linear;

                        &.selected {
                           font-weight: bold;
                           border-left: 5px solid #00000069;
                        }

                        &:hover {
                           background-color: rgba(0, 157, 181, 0.13);
                        }
                     }
                  }

                  &::after {
                     color: #999;
                     font-size: 21px;
                  }

                  &.open {
                     border: 1px solid #001c8e;
                  }
               }
            }

         }
      }
   }

   .container_filters__alpha {

      .filter_row {
         &__label {
            label {
               @extend .lblg_filter;
            }
         }

         &__pag {
            .pagination {
               &>li {
                  &.active {
                     a {
                        background-color: transparent;
                        color: #000;
                        font-weight: bolder;
                        border: 0px;
                        color: #0072ff;
                        @include shadow_element(rgba(53, 53, 53, 0.2));
                     }
                  }

                  &:first-child {
                     &>a {
                        border-radius: 0px;
                     }
                  }

                  &:last-child {
                     &>a {
                        width: 63px;
                        background-color: #00b3d1;
                        border: 0px;
                        color: rgb(255, 255, 255);
                        padding: 7px;
                        border-radius: 0;
                        text-align: center;
                        cursor: pointer;
                        @include shadow_element(rgba(135, 151, 214, 0.2));

                        &:hover {
                           border-top: 0px;
                           background-color: #00a5ff;
                           @include shadow_element(rgba(239, 184, 29, 0.14));
                        }
                     }

                     &.active {
                        &>a {
                           background-color: transparent;
                           border: 1px solid #dddddd;
                           border-bottom: 0;
                           border-radius: 0;
                           box-shadow: none;
                        }
                     }
                  }

                  &>a {
                     color: black;
                     transition: background-color .5s linear, box-shadow .1s linear;

                     &:hover {
                        border: none;
                        color: white;
                        background-color: #0095ff;
                        @include shadow_element(rgba(53, 53, 53, 0.2));
                     }

                  }
               }
            }
         }
      }
   }

   .container_filters__options {
      .option_row {
         &__fixed {
            @extend .button_optionablesma;

            .btn_option.initial {
               position: relative;

               &::before {
                  content: "";
                  position: absolute;
                  border: 1px solid #00a5ff;
                  height: 63%;
                  transform: rotate(-45deg);
                  top: 6px;
                  left: 22px;
               }
            }

            label {
               color: grey;
               font-weight: 100;
            }
         }

         &__mini {
            @extend .button_optionablesma;

            label {
               color: grey;
               font-weight: 100;
            }
         }
      }
   }

   // -----------------------------------------
   // -----------------------------------------
   //              ALERT EMPTY RESULTS
   // -----------------------------------------
   // -----------------------------------------
   .no_prof_row {
      display: flex;
      justify-content: center;

      &__message {
         @extend .title_alert;
      }

      &__icon {
         font-size: 43px;
      }
   }

   .no-prof-items {
      margin-top: 4em;
      margin-bottom: 4em;
      clear: both;
   }

   // -----------------------------------------
   // -----------------------------------------
   //              CARDS
   // -----------------------------------------
   // -----------------------------------------
   .prof_list__main {
      margin-top: 5%;
   }

   .pr_card {
      transition: transform .2s linear;
      cursor: pointer;
      border-radius: 12px 12px 12px 12px;
      margin-bottom: 4em;
      position: relative;
      min-height: 200px;
      border: 1px solid #c3c3c3;
      display: inline-block;
      background-color: white;

      .pr_clip_art {
         transition: all .2s linear;
         width: 206px;
         height: 170px;
         position: absolute;
         top: 2px;
         transform: rotate(45deg);
         border: 3px solid hsl(0, 0%, 100%);
      }

      &__image {
         figure {
            position: absolute;
            display: flex;
            justify-content: start;
            width: 100%;
            top: -44px;
            left: 19px;

            img {
               max-height: 146px;
               min-width: 146px;
               min-height: 146px;
               height: 146px;
               max-width: 146px;
               -o-object-fit: unset;
               object-fit: cover;
               margin: 1em 0;
               border-radius: 10px;
               background-color: white;
               position: relative;
               transition: box-shadow .4s linear;
               @include shadow_element(rgba(0, 0, 0, 0.294));
            }
         }
      }

      &__bg {
         position: relative;
         overflow: hidden;
         display: flex;
         justify-content: center;
         background-image: url(../assets/img/bg-material.png);
         height: 9em;
         transition: all .9s linear;
         border-radius: 10px 10px 0 0;
         background-repeat: no-repeat;
         background-position: right -44px;
         background-color: #e1f7fe;
         background-size: cover;
      }

      &__info {
         padding: 1em 1em 4em;
         display: flex;
         flex-direction: column;
      }

      &_info {
         &__nombre {
            font-size: 25px;
            line-height: 1.2;
            margin-bottom: 15px;
            letter-spacing: -1px;
            color: #3e19b9;
         }

         &__title {
            .desc_c {
               @extend .text_c;
               color: #009eb5;
            }

            color: #000;
            font-weight: 400;
            font-size: 15px;
            margin-bottom: 8px;

            .ico_c {
               @extend .icon_intocard;
               color: #009eb5;
            }
         }

         &__item {
            margin-bottom: 5px;

            .desc_c {
               @extend .text_c;
            }

            .ico_c {
               @extend .icon_intocard;
            }
         }

         &__action {
            display: flex;
            justify-content: space-around;
            font-size: 16px;
            float: right;
            position: absolute;
            width: 109px;
            padding: .4em;
            right: 13px;
            bottom: 22px;
            border-radius: 3px;
            background-color: #6e82d6;
            color: white;
            border-radius: 39px;
            @include shadow_element(rgba(110, 131, 214, 0.315));

            .ico_action {
               font-size: 26px;
               transition: all .2s linear;
            }

            &:hover {
               .ico_action {
                  transform: translateX(5px);
               }
            }
         }
      }

      &:hover {
         box-shadow: 0 5px 10px rgba(166, 173, 201, .2), 0 15px 40px rgba(166, 173, 201, .2);

         .pr_clip_art {
            transform: scale(1.4);
            border: 3px solid white;
         }

         .pr_card {
            &__bg {
               background-position: right -90px;
            }

            &__image {
               figure {
                  img {
                     @include shadow_element(rgba(123, 126, 129, 0.30));
                  }
               }
            }
         }

      }
   }

   a#toTop {
      background-color: #00a39d;
      @include shadow_element(rgba(76, 77, 83, 0.329));
      color: white;

      i {
         color: white;
      }

      &:hover {
         i {
            color: white;
         }
      }
   }

   // -----------------------------------------
   // -----------------------------------------
   //          POSITION WITH STYLES
   // -----------------------------------------
   // -----------------------------------------
   &.pr_item__left,
   &.pr_item__right {
      .prof_list__main {
         margin-top: 0;

         .prof-list-item {
            transition: all .3s linear;
         }

         &.is_list {
            .prof-list-item {
               display: flex;

               .pr_card {
                  width: 100%;
                  min-height: 210px;

                  &__image {
                     float: left;
                     width: 30%;
                     min-height: inherit;
                     height: 100%;
                     position: relative;

                     figure {
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        left: 0;
                        top: 0;
                     }
                  }

                  &__bg {
                     min-height: inherit;
                     background-image: unset;
                     background-color: transparent;
                     background-position: center;
                     background-image: url("../assets/img/bg-big.png");
                     height: 100%;

                     .pr_clip_art {
                        border: none;
                     }
                  }

                  .pr_main_content {
                     float: left;
                     width: 70%;

                     .pr_card__info {
                        padding: 2em 2em;
                     }

                     .pr_card_info {
                        &__action {
                           background-color: #00a39d;
                           color: #ffffff;
                           border-radius: 18px;
                           justify-content: space-evenly;
                           @include shadow_element(rgba(0, 163, 158, 0.5));
                        }
                     }
                  }

                  &:hover {
                     .pr_card {
                        &__bg {
                           .pr_clip_art {
                              transform: scale(1.1);
                           }
                        }

                     }
                  }
               }
            }
         }

         &.is_grid {
            .row {
               div[class*='col-md-4'] {
                  &:nth-of-type(3n+1) {
                     clear: both;
                  }
               }
            }
         }
      }

      .container_filters {
         background-color: transparent;
         box-shadow: none;
         padding: 0px 10px 15px 36px;

         .sticky--side {
            .sticky_row {
               max-height: 100vh;
               overflow: auto;
               min-height: 60vh;
               height: auto;
               display: flex;
               padding-bottom: 3em;
               flex-direction: column;
            }

            &.is-sticky {
               padding-left: 15px;
               padding-bottom: 1em;
            }
         }

         &__query {
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted rgba(128, 128, 128, 0.315);

            .filter_row {
               &__inp {
                  input {
                     padding: 6px 32px 6px 15px;
                     width: 100%;
                  }

                  .ico {
                     right: 30px;
                     top: 6px;
                     width: 1px;
                  }
               }

               &__label {
                  bottom: 14px;

                  label {
                     font-size: 14px;
                  }
               }
            }
         }

         &__type {
            width: 100%;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px dotted rgba(128, 128, 128, 0.315);

            .type_row {

               &__inp {
                  .type_custom__inline {
                     ul.menu {
                        border: 1px solid #d8d6d6;
                        border-radius: 14px;

                        .list {
                           border-bottom: 1px solid rgba(212, 212, 212, 0.631);
                           height: 38px;
                           background-color: rgb(255, 255, 255);
                           transition: background .4s linear;

                           &:after {
                              content: "\f107";
                              font-family: 'Line Awesome Free';
                              color: rgba(66, 66, 66, 0.637);
                              top: 4px;
                              font-size: 21px;
                           }

                           a {
                              color: #4e4e4e;
                              @extend %prof-font;
                              padding: 10px 0 10px 16px;
                              transition: background-color 500ms linear;

                           }

                           .items {
                              height: 0px;
                              overflow: hidden;

                              &::-webkit-scrollbar {
                                 width: 4px;
                                 height: 9px;
                                 background-color: #b9b2b23b;
                                 display: block;
                              }

                              &::-webkit-scrollbar-thumb {
                                 background: #948f8fa6;
                              }

                              &::-webkit-scrollbar-thumb:active {
                                 background: #626262;
                              }

                              &::-webkit-scrollbar-track {
                                 background: #ccc1c1;
                                 border-radius: 4px;
                              }

                              a {
                                 padding: 10px 0 10px 16px;

                                 &:hover {
                                    background-color: rgb(236, 236, 236);
                                    transition: 300ms all;
                                 }
                              }
                           }

                           &:first-child {
                              border-radius: 14px 14px 0px 0px;
                           }

                           &:hover {
                              background-color: rgb(232, 234, 252);
                           }

                           &.active {
                              &:after {
                                 content: "\f106";
                                 font-family: 'Line Awesome Free';
                                 color: rgb(255, 255, 255);
                                 top: 7px;
                                 font-size: 21px;
                              }
                           }
                        }

                        .list__one {
                           border-bottom: 1px solid rgba(212, 212, 212, 0.631);
                           height: 38px;
                           background-color: rgba(239, 239, 239, 0.42);
                           transition: background .4s linear;
                           padding: 10px 0 10px 16px;
                           position: relative;
                           width: 100%;
                           vertical-align: sub;
                           clear: both;

                           &:after {
                              content: "\f30b";
                              font-family: 'Line Awesome Free';
                              font-weight: 600;
                              color: rgba(66, 66, 66, 0.637);
                              top: 0px;
                              font-size: 21px;
                              position: absolute;
                              right: 17px;
                              font-size: 27px;
                              padding: 0 5px;
                           }

                           a {
                              color: #4e4e4e;
                              @extend %prof-font;
                           }

                           &:hover {
                              background-color: rgb(232, 234, 252);
                           }

                           &.active {
                              &::after {
                                 color: white;
                              }
                           }
                        }

                        .active {
                           background-color: #009aba;

                           >a {
                              text-transform: uppercase;
                              font-weight: bold;
                              color: white;
                           }

                           >.items {
                              display: block;
                              padding: 0px;
                              height: auto;
                              transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
                              transition: all 200ms;
                              clear: both;
                              float: left;
                              width: 100%;

                              li {
                                 padding: 0px;
                                 list-style: none;
                              }

                              li:last-child {
                                 border-color: transparent;
                                 padding-bottom: 0px;
                              }
                           }

                           .list {
                              a {
                                 padding: 17px 0px 17px 45px;
                              }
                           }

                           &:last-child {
                              border-radius: 0px;
                           }

                           &:hover {
                              background-color: #009aba;
                              opacity: .7;
                           }
                        }

                        &>li {
                           &:last-child {
                              border-bottom: none;
                              border-radius: 0px 0px 14px 14px;
                           }
                        }

                        &>.list {
                           &>.items {
                              overflow-y: auto;
                              max-height: 116px;
                           }
                        }
                     }
                  }
               }

               &__label {
                  transform: scale(.99) translate(21px, -17px);
                  border-radius: 12px;

                  label {
                     border-radius: 12px;
                     font-size: 14px;
                  }
               }
            }
         }

         &__alpha {
            width: 100%;

            .filter_row {
               &__label {
                  label {
                     font-size: 14px;
                  }
               }

               &__pag {
                  .pagination {
                     font-size: 12.7px;

                     &>li {
                        &.active {
                           a {
                              background-color: #ffffff;
                              box-shadow: 0 5px 10px rgba(146, 135, 135, 0.705), 0 15px 40px rgba(0, 0, 0, 0.45);
                              -moz-box-shadow: 0 5px 10px rgba(49, 50, 56, 0.541), 0 15px 40px rgba(49, 50, 56, .2);
                           }
                        }

                        &:first-child {
                           a {
                              border-radius: 0;
                              border: 1px solid #c7c4c4;
                           }
                        }

                        &:last-child {
                           a {
                              width: 107px;
                           }
                        }

                        &>a {
                           width: 11%;
                           margin: 0 1.5px;
                           border: 1px solid #d8d6d6;

                        }
                     }
                  }
               }
            }
         }

         &__options {
            float: left;
            display: flex;
            flex-direction: row;
            width: 100%;

            .option_row {
               margin-top: 20px;

               &__fixed {
                  display: flex;
                  flex-direction: column;
                  width: 50%;
                  align-items: center;
                  justify-content: center;

                  .btn_option.initial {
                     &::before {
                        border: 0px solid transparent;
                     }
                  }
               }

               &__mini {
                  align-items: center;
                  justify-content: center;
                  display: flex;
                  flex-direction: column;
                  width: 50%;
               }
            }
         }
      }

      a#toTop {
         left: 90%;
         right: auto;
      }
   }

   &.pr_item__right {
      a#toTop {
         left: 73%;
         right: auto;
      }
   }
}