$phone:667px;
$tablet:920px;
$desktop:1024px;
$desktopxl:1930px;


// colors 
$bg-classic: #fdf47e;
$gold-classic: #b8860b;
$shadow-classic: rgba(184, 135, 11, 0.335);
$secundary-classic: #fff;
@mixin breakpoint($media) {
    @if $media==phone {
        @media (max-width: $phone) {
            @content;
        }
    }
    @else if $media==tablet {
        @media (min-width: $phone + 1) and (max-width: $desktop) {
            @content;
        }
    }
    @else if $media==desktop {
        @media (min-width: $desktop + 1) {
            @content;
        }
    }
    @else if $media==desktopxl{
      @media (min-width: $desktop + 1)  and (max-width: $desktopxl + 1) {
          @content;
      }
    }
}
@mixin flex-in  {
    display: flex;
    flex-direction: row;
}

@mixin theme_component($theme) {
    @if $theme==material {
        .resume_row__contenido {
            &.custom {
                h1,h2,h3,h4,h5,h6{
                    @extend %prof-font;
                    letter-spacing: -2px;
                    font-weight: lighter;
                    &:before {
                        content: "";
                        background-color: #4facfe;
                        height: 1em;
                        width: .1em;
                        display: inline-flex;
                        margin-bottom: 1em;
                    }
                }
                h3 {
                    font-size: 26px;
                }
                h4 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 24px;
                }
                h6 {
                    font-size: 23px;
                }
                a {
                    @extend %prof-font;
                    text-decoration: none;
                    padding: 9px;
                    width: 141px;
                    text-align: center;
                    margin-top: 21px;
                    border: 1px solid $btn-color;
                    color: $secundary-classic;
                    transition: all .2s linear;
                    font-weight: lighter;
                    border-radius: 36px;
                    background-color: $btn-color;
                    @include shadow_element($shadow-material);
                    &:hover {
                        opacity: .8;
                    }
                }
                p{
                    text-align: justify;
                    font-size: 15px;
                    display: inline-flex;
                    position: relative;
                    @extend %prof-font;
                    padding-left: 1em;
                }
                ul {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                ol {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                table {
                    tr {
                        th {
                            background-color: #f3f1f1;
                            border: 1px solid rgba(110,130,214,.49);
                            padding: 1em;
                            @extend %prof-font;
                            font-weight: 400;
                            color: $titulo-material;
                        }
                        td {
                            padding: 1em;
                            border: 1px solid rgba(110,130,214,.49);
                        }
                    }
                }
            }
            
        } 
    }
    @if $theme==classic {
        .resume_row__contenido {
            &.custom {
                h1,h2,h3,h4,h5,h6{
                    @extend %prof-font;
                    &:before {
                        content: "";
                        background-color: $bg-classic;
                        height: 1em;
                        width: 1em;
                        display: inline-flex;
                        border-radius: 50%;
                        margin-bottom: 1em;
                    }
                }
                a {
                    @extend %prof-font;
                    text-decoration: none;
                    padding: 9px;
                    width: 141px;
                    text-align: center;
                    margin-top: 21px;
                    border: 1px solid $gold-classic;
                    color: $secundary-classic;
                    transition: all .2s linear;
                    font-weight: lighter;
                    border-radius: 36px;
                    background-color: $gold-classic;
                    @include shadow_element($shadow-classic);
                    &:hover {
                        opacity: .6;
                    }
                }
                p{
                    line-height: 1;
                    text-align: justify;
                    font-size: 16px;
                    display: inline-flex;
                    position: relative;
                    @extend %prof-font;
                    padding-left: 1em;
                    &:before {
                        content: "";
                        border-left: 9px solid $bg-classic;
                        width: 39px;
                        height: 100%;
                        position: absolute;
                        margin-left: -1em;
                    }
                }
                ul {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                ol {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                table {
                    tr {
                        th {
                            background-color: #f3f1f1;
                            border: 1px solid rgb(190, 187, 187);
                            padding: 1em;
                            @extend %prof-font;
                            font-weight: 400;
                            color: $golden;
                        }
                        td {
                            padding: 1em;
                            border: 1px solid rgb(190, 187, 187);
                        }
                    }
                }
            }
            
        } 
    }
   @if $theme==dark {
        .resume_row__contenido {
            &.custom {
                h1,h2,h3,h4,h5,h6{
                    @extend %prof-font;
                    font-weight: normal;
                }
                h3 {
                    font-size: 26px;
                }
                h4 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 24px;
                }
                h6 {
                    font-size: 23px;
                }
                a {
                    @extend %prof-font;
                    text-decoration: none;
                    padding: 9px;
                    width: 141px;
                    text-align: center;
                    margin-top: 21px;
                    color: $secundary-classic;
                    transition: all .2s linear;
                    font-weight: normal;
                    border-radius: 4px;
                    background: linear-gradient(135deg,#57c984,#184e68);
                    @include shadow_element(rgba(87, 201, 133, 0.507));
                    &:hover {
                        opacity: .8;
                    }
                }
                p{
                    text-align: justify;
                    font-size: 15px;
                    display: inline-flex;
                    position: relative;
                    @extend %prof-font;
                    padding-left: 1em;
                }
                ul {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                ol {
                    li {
                        @extend %prof-font;
                        font-size: 16px;
                    }
                }
                table {
                    margin: 3em 0em;
                    @include shadow_element(rgb(0, 0, 0));
                    border-radius: 7px;
                    tr {
                        th {
                            background-color: rgb(254, 255, 239);
                            border-right: 1px solid rgb(85, 105, 76);
                            padding: 1em;
                            font-weight: 400;
                            color: #547b17;
                            &:first-child {
                                border-top-left-radius: 7px;
                            }
                            &:last-child {
                                border-top-right-radius: 7px;
                                border-right: 0px;
                            }
                        }
                        td {
                            padding: 1em;
                            border-right: 1px solid rgb(85, 105, 76);
                            &:last-child {
                             border-bottom-left-radius: 20px;
                             border-right: none;
                            }
                        }
                    }
                }
            }
            
        } 
    }
  
}

// BOX-SHADOWS
@mixin shadow_element($color) {
    //rgba(166,173,201,.2)
    box-shadow: 0 5px 10px $color, 0 15px 40px $color;
    -moz-box-shadow:0 5px 10px $color, 0 15px 40px $color;
}
@mixin  neumophirsm-inset($color) {
   //rgba(166,173,201,.2)
   box-shadow: inset 10px 10px 20px $color, 
            inset -10px -10px 20px darken($color, 10%);
    
}
@mixin  neumophirsm($color, $bg) {
    //rgba(166,173,201,.2)
    background: linear-gradient(45deg, $bg, darken($bg, 10%));
    @include shadow_element($color);
     
 }
@mixin icon-content {
    font-family: 'Line Awesome Free';
    font-weight: 900;
}
