//-------------------------------------
//                 COLORS 
//-------------------------------------

// CLASS EXTEND
.lblg_filter {
    font-weight: lighter;
    font-size: 16px;
}

.title_alert {
    font-size: 28px;
}

// COLORES
$dark-bg: rgb(34, 40, 49);
$dark-color: rgb(57, 62, 70);
$dark-hover: rgb(27, 27, 47);
$grey-constrast: rgb(39, 39, 45);
$dark-contrast: rgb(162, 222, 137);
$btn-contrast: rgb(93, 131, 32);
$dark-opacity: rgb(85, 105, 76);
$dark-subtitle: #7d8418;
$golden: rgb(121, 87, 28);

// COLORES TEMA MATERIAL
$titulo-material: rgb(62, 25, 185);
$secundario-material: rgb(0, 158, 181);
$light-material: rgb(239, 245, 247);
$btn-color: rgb(110, 130, 214);
$shadow-material: rgba(110, 131, 214, 0.39);

