//-------------------------------------
//                 COLORS 
//-------------------------------------

// CLASS EXTEND
.lblg_filter {
    font-weight: lighter;
    font-size: 16px;
}

.title_alert {
    font-size: 28px;
}

// COLORES
$dark-bg: rgb(34, 40, 49);
$dark-color: rgb(57, 62, 70);
$dark-hover: rgb(27, 27, 47);
$grey-constrast: rgb(39, 39, 45);
$dark-contrast: rgb(162, 222, 137);
$btn-contrast: #5d8320;
$golden: rgb(121, 87, 28);


